body {
  background: #FFEDE1;
}

h1 {
  margin: 0 auto;
  text-align: center;
}

a {
  color: #e49d8c;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App header {
  margin: 60px 0;
}

.App footer {
  text-align: center;
  margin: 30px 0;
}

.App .container {
  margin: 0 auto;
}